localhost {
	log {
		format json
	}

	# Compression
	encode zstd
	# Self -subscription certificate
	tls internal

	# Proxiding all requests in App: 8080
	# App-Service name in Docker-compose.yml
	reverse_proxy /* app:8080
}
